.position-relative {
    position: relative;
}

.logo-wrapper {
    position: absolute;
    top: 0;
    right: 50;
    padding: 10px; /* Adjust padding as needed */
}

.logo {
    max-height: 50px; /* Adjust based on your needs */
    max-width: 100%; /* Ensure it scales properly */
}
